<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <!-- <% console.log(user)%>
    <h1>Master</h1> -->
    <div class="container mt-4 row row-cols-3" >
    <% blogs.forEach(element => { %>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src=" <%= element.coverImageURL %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= element.title %></h5>
                  <p class="card-text"><%= element.body %></p>
                  <a href="/blog/<%= element._id %>" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    <% }) %>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>